---
import Layout from '../layouts/Layout.astro';
import { BanglaDate } from '@/components/BanglaDate';
---

<Layout>
  <div class="grid grid-cols-3 gap-4 py-4 mx-auto max-w-3xl min-h-[80vh]">
    <div>
<a class="py-4 inline-block w-full text-center bg-background text-foreground border rounded" href="/colors">Colors</a>
    </div>
  </div>

  <footer class="border-t mt-4">
    <div class="max-w-3xl text-center mx-auto p-4">

    <a href="https://www.npmjs.com/package/bangla-calendar" target="_blank">
  <BanglaDate client:load />
    </a>
    </div>
  </footer>
</Layout>
