---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="grid grid-cols-3 gap-4 p-4 mx-auto max-w-3xl">
<a class="block py-4 text-center bg-background text-foreground border rounded" href="/colors">Colors</a>
  </div>
</Layout>
